.create-member-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.form-wrapper {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: #000000 0 10px 20px -10px;
  padding: 40px;
}

.form-header {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}

.form-sub-header {
  font-size: 24px;
  margin-bottom: 16px;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

hr {
  margin-top: 10px;
  margin-bottom: 24px;
  border-top: 1px solid #d8d8d8;
}

.form-sub-header,
.interests-wrapper,
.submit-button-container,
.back-button-container {
  grid-column: span 2;
}



.checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 20px;
  padding-top: 6px;
  margin-bottom: 20px;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  appearance: none;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  cursor: pointer;
}

input[type='checkbox']:checked {
  content: 'X';
  background-color: #487de0;
  padding: 6px;
}

@media screen and (max-width: 768px) {
  .grid-content {
    grid-template-columns: 1fr;
  }

  .form-sub-header,
  .interests-wrapper,
  .submit-button-container,
  .back-button-container {
    grid-column: span 1;
  }

  .emergency-contacts-wrapper {
    grid-template-columns: 1fr;
    grid-column: span 1;
  }
}

.submit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.back-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.error {
  color: #cd5c5c;
  font-size: 14px;
}

.display-message {
  color: #cd5c5c;
  text-align: center;
  font-size: 24px;
}
