.create-member-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1024px;
}

.form-wrapper {
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: #000000 0 10px 20px -10px;
  padding: 40px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.form-header,
.interests-wrapper,
.submit-button-container,
.back-button-container {
  grid-column: span 2;
}

.emergency-contacts-wrapper {
  grid-column: span 2;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  background-color: #dad9d9;
  border-radius: 6px;
  padding: 20px 20px 6px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }

  .form-header,
  .interests-wrapper,
  .submit-button-container,
  .back-button-container {
    grid-column: span 1;
  }

  .emergency-contacts-wrapper {
    grid-template-columns: 1fr;
    grid-column: span 1;
  }
}

.submit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.back-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.error {
  color: #cd5c5c;
  font-size: 14px;
}

button {
  background-color: #5299c8;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
  box-shadow: #000000 0 5px 10px -5px;
}

.display-message {
  color: #cd5c5c;
  text-align: center;
}
