.create-member-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.form-wrapper {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: #000000 0 10px 20px -10px;
  padding: 40px;
}

.form-header {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
}

.field-warning {
  font-size: 16px;
  color: #696969;
  font-style: italic;
  margin-bottom: 16px;
}

.form-sub-header {
  font-size: 24px;
  margin-bottom: 16px;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

hr {
  margin-top: 10px;
  margin-bottom: 24px;
  border-top: 1px solid #d8d8d8;
}

.form-sub-header,
.interests-wrapper,
.submit-button-container,
.back-button-container {
  grid-column: span 2;
}

.address-wrapper {
  padding-bottom: 16px;
}

.address-input-field {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 12px;
  height: 42px;
  width: 350px;
  border-radius: 5px;
  background: white;
  border: 1px solid #adadad;
  resize: vertical;
  min-height: 100px;
  text-align: start;
}

.gender-wrapper {
  display: flex;
  flex-direction: column;
}

.gender-label {
  font-size: 16px;
  color: #000000;
  padding-bottom: 16px;
}
.gender-radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gender-radio-group label {
  padding-right: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.gender-radio-group label input {
  margin-right: 12px;
}

.custom-gender-input {
  padding: 12px;
  text-align: start;
  font-size: 16px;
  height: 42px;
  border-radius: 5px;
  background: white;
  border: 1px solid #adadad;
  margin-bottom: 6px;
  display: flex;
  flex: 1;
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 20px;
  padding-top: 6px;
  margin-bottom: 20px;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  appearance: none;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  cursor: pointer;
}

input[type='checkbox']:checked {
  content: 'X';
  background-color: #487de0;
  padding: 6px;
}

@media screen and (max-width: 768px) {
  .grid-content {
    grid-template-columns: 1fr;
  }

  .form-sub-header,
  .interests-wrapper,
  .submit-button-container,
  .back-button-container {
    grid-column: span 1;
  }

  .emergency-contacts-wrapper {
    grid-template-columns: 1fr;
    grid-column: span 1;
  }
}

.submit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.back-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.error {
  color: #cd5c5c;
  font-size: 14px;
}

.display-message {
  color: #cd5c5c;
  text-align: center;
  font-size: 24px;
}
