.textarea-input-field {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 6px 0;
  margin: auto;
}
.textarea-input-field label {
  padding-bottom: 6px;
  font-size: 16px;
  margin-left: 4px;
  color: #000000;
}

.textarea-input {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 12px;
  margin-bottom: 16px;
  text-align: start;
  height: 42px;
  border-radius: 5px;
  background: white;
  border: 1px solid #adadad;
  resize: vertical;
  min-height: 72px;
}
