.member-page {
  width: 100%;
  background-color: #f3f4f7;
  padding: 20px;
}

.page-heading {
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 30px;
}

.full-name-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}

.member-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.member-page .personal-information-wrapper,
.member-page .membership-wrapper,
.member-page .emergency-contacts-wrapper,
.member-page .additional-requirements-wrapper,
.member-page .interests-wrapper {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.personal-information-wrapper {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.membership-wrapper {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.emergency-contacts-wrapper {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.additional-requirements-wrapper {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
}

.interests-wrapper {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}
.form-sub-header {
  font-size: 24px;
  margin-bottom: 16px;
}

hr {
  margin-bottom: 24px;
  margin-top: 0px;
  border-top: 1px solid #d8d8d8;
}

.info {
  padding-bottom: 12px;
}

.member-page label {
  padding-bottom: 4px;
  font-size: 16px;
  color: #696969;
}
