.member-page {
  background-color: #f9fafb
}


.page-heading {
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 30px;
}

.full-name-heading {
  font-size: 36px;
  font-weight: bold;

}

.grid-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

@media screen and (max-width: 768px) {
  .grid-content {
    grid-template-columns: 1fr;
  }
}

.personal-information-wrapper {
  display: flex;
  flex-direction: column;
}


.content {
  padding-bottom: 12px;
}

.member-page label {
  padding-bottom: 4px;
  font-size: 16px;
  color: #696969;
}
