.date-picker-field-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 6px 0;
  margin: auto;
  width: 350px;
  height: 97px;
}

.date-picker-field-wrapper label {
  padding-bottom: 6px;
  font-size: 16px;
  margin-left: 4px;
  color: #000000;
}

.react-datepicker__input-container input {
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 12px;
  text-align: start;
  font-size: 16px;
  height: 42px;
  border-radius: 5px;
  background: white;
  border: 1px solid #adadad;
}
