@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

.app-content {
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 75px 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.banner {
  padding: 20px;
  background-color: #5299c8;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}
