.text-input-field {
  display: flex;
  flex-direction: column;
  padding: 6px 0;
  width: 350px;
  height: 72px;
}

.text-input {
  font-family: 'Lato', sans-serif;
  padding: 12px;
  text-align: start;
  font-size: 16px;
  height: 42px;
  border-radius: 5px;
  background: white;
  border: 1px solid #adadad;
}
