.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.page-heading {
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 30px;
}

.interaction-bar {
  margin-bottom: 20px;
  display: flex;
  background-color: #e8e8e8;
  padding: 16px;
}

button {
  background-color: #487de0;
  padding: 10px 20px;
  border-radius: 10px;
  border: #dcdcdc;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width: fit-content;
  box-shadow: #000000 0 5px 10px -5px;
}

button:hover {
  background-color: #336fdf;
}
